.about {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;
}

.about__container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about__tabs {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.about__tab {
    padding: 14px 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    background: white;
    border: 1px solid var(--primary-100);
}

.about__tab.active {
    background: var(--primary-100);
}

.about__tab__label input {
    display: none;
}

.about__tab__content {
    display: none;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}

.about__tab__content.active {
    display: flex;
}

.about__employees {
    margin: 0 auto;
    position: relative;
    display: flex;
    filter: grayscale(0%);
    transition: all 0.5s;
}

.about__employees__wrapper {
    width: 1000px;
    overflow: hidden;
}

.about__employee {
    min-width: 1000px;
    height: 550px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    transition: scale 0.5s;
}

@media (max-width: 1000px) {
    .about__employee {
        height: unset;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about__employee::before {
        display: none !important;
    }

    .about__employees__wrapper {
        width: 100%;
        max-width: 100vw;
    }

    .about__employee {
        min-width: 100%;
        align-items: flex-start;
    }

    .about__employee__image {
        width: 100%;
        height: 100% !important;
        object-position: bottom;
        max-width: 250px;
        max-height: 300px;
    }

    .about__employee__info__wrapper {
        text-align: left !important;
        margin: 0 !important;
    }
}

.about__employee::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 250px;
    background: var(--primary-100);
    bottom: 0;
    border-radius: 20px 20px 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about__employee__image {
    height: 80%;
    object-fit: contain;
    z-index: 1;
    position: relative;
    user-select: none;
}

.about__employee__info__wrapper {
    display: flex;
    flex-direction: column;
    z-index: 2;
    text-align: right;
    margin: 0 50px 20px 0;
    gap: 10px;
    overflow: hidden;
    background: var(--primary-100);
    border-radius: 20px;
}

.about__employee__info {
    padding: 14px;
}

.about__employee__story-cards {
    width: 500px;
    display: flex;
    transition: all 0.5s
}

.about__employee__story-card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 500px;
    overflow: hidden;
    padding: 40px 20px;
}

@media (max-width: 1000px) {
    .about__employee__story-cards {
        width: 100%;
    }
    .about__employee__story-card {
        min-width: 100%;
    }
}

.about__employee__story-cards__pagination {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px;
}

.about__employee__story-cards__pagination__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.about__employee__story-cards__pagination__bullet.active {
    background: black;
}

.about__employee__name {
    font-weight: 700;
    font-size: 32px;
}

.about__btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 60px;
    top: 350px;
}

.about__btn {
    border: 2px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}
