
.follow-us .section__pre-title {
    margin-top: 4px;
    font-weight: 400;
}

.follow-us .section__title {
    position: relative;
    display: inline-flex;

    &::before {
        content: "";
        position: absolute;
        width: 103%;
        height: 32px;
        background: var(--primary-100);
        left: 50%;
        bottom: 0;
        transform: translateY(-50%) translateX(-50%);
        z-index: -1;
    }
}

.follow-us .section__content {
    padding: 194px 0;
}

.follow-us .section__text {
    margin-top: 24px;
    width: 720px;
}

.follow-us__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 0px;
    gap: 24px;
    height: 44px;
    margin-top: 24px;
}

.follow-us__footer__text {
    display: flex;
    align-items: center;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 1px;
        background: var(--primary);
        margin-left: 26px;
    }
}

.follow-us__socials {
    display: flex;
    gap: 16px;
}

.products {
    padding-bottom: 74px;
}

.products__slider {
    display: flex;
    gap: 32px;
    overflow: hidden;
    overflow-x: auto;
    margin-top: 2s2px;
    position: relative;
    width: 100%;
    font-size: 0;
    cursor: grab;

    &::-webkit-scrollbar {
        display: none;
    }

    &.active {
        cursor: grabbing;
    }
}

.products__item {
    width: 480px;
    min-width: 480px;
    height: auto;
    user-select: none;
}

.products__item__image {
    background-color: var(--primary-100);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 450px;
    width: 100%;
    user-select: none;

    img {
        object-fit: contain;
        pointer-events: none;
    }
}

.products__item__content {
    padding: 18px 0;
}

.products__item__title {
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
}

.products__item__text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.products__item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.products__item__info__section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.products__item__price {
    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0px 2px 0px var(--primary-100);
}

.products__item__type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    height: 40px;
    background: var(--primary-50);
    border-radius: 64px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: black;

    position: relative;
    cursor: pointer;

    &.active {
        .products__item__type__dropdown {
            display: block;
        }

        .products__item__type__icon {
            transform: rotate(180deg);
        }
    }
}

.products__item__type__dropdown {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    border-radius: 12px;
    margin-top: 8px;
    list-style: none;
    background: var(--primary-100);
    z-index: 100;
}

.products__item__type__dropdown__item {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: black;
    padding: 12px 24px;
}

.products__item__count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 40px;

    background: var(--primary-50);
    border-radius: 64px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.products__item__count__button {
    cursor: pointer;
    padding: 8px 16px;

    &:first-of-type {
        padding-right: 0;
    }

    &:last-of-type {
        padding-left: 0;
    }
}

.products__item__cart__button {
    cursor: pointer;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 56px;
    background: var(--primary-50);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    text-shadow: 2px 2px 0px var(--primary-100);
}
